body {
  font-family: 'Alice', sans-serif;
  background-image: url('images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(18, 18, 18, 0.8);
  color: #d1d1e0;
  margin: 0;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: #61dafb;
  border-bottom: 2px solid #20232a;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #d1d1e0;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #61dafb;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #d1d1e0;
  margin: 6px 0;
  transition: 0.4s;
}

section {
  padding: 40px;
  background-color: rgba(18, 18, 18, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

h2 {
  color: #61dafb;
}

p {
  color: #d1d1e0;
  line-height: 1.6;
}

ul {
  color: #d1d1e0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

ul li {
  background-color: rgba(18, 18, 18, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* New styles for mobile */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide nav-links initially */
    flex-direction: column; /* Change direction to column for vertical layout */
  }

  .nav-links.open {
    display: flex; /* Show nav-links when open class is applied */
  }
}
